@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh; 
}
.player-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.player {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 3rem;
}
.innerdiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
}
.player-active{
    background-color: rgba(255, 255, 255, 0.4);
}
.player-active .current {
    opacity: 1;
}
.player-active .playername{
    font-weight: 700;
}
.playername {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.player-winner{
    background-color: rgb(45, 43, 43);
}
.player-winner .playername{
    color: white;
}
.score {
  color: #c7365f;
  margin: 1rem 0rem;
  font-size: 2.5rem;
}
.current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c7365f;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin: 2rem 0rem;
  text-transform: uppercase;
}
.current-label {
  font-size: 1.2rem;
}
.current-score{
    font-size: 1.7rem;
}
/* absolute elements */
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    opacity: 75%;
    margin: 1rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:active {
    transform: translateY(2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn-new{
    position: absolute;
    top: 1rem;
}
.btn-roll{
    position: absolute;
    top: 14rem;
}
.btn-hold{
    position: absolute;
    top: 17rem;
}
.dice{
    position: absolute;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    height: 4rem;
    top: 8rem;
}
.hidden{
    display: none;
}